body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: rgb(230, 204, 255);
}

.result{
  display: none;
}

.warning {
  display: none;
}

.win {
  display: none;
}

.lose {
  display: none;
}
